@page "/manageRoleToUser"
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager


<h3>Manage Role/User</h3>

@*<UsersList></UsersList>
*@
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <label for="user">User</label>
            <select id="user" class="form-select" size="@(ListUsers.Count + 1)" @onchange="GetRole">
                <option></option>
                @foreach (var user in ListUsers)
                {
                    <option value="@user">@user</option>
                }
            </select>
        </div>
        <div class="col-3">
            <label for="role">Roles</label>
            <select id="role" class="form-select" size="@(ListRoles.Count)" @bind="ListToSave">
                @foreach (var role in ListRoles)
                {
                    <option value="@role">@role</option>
                }
            </select>
        </div>
    </div>
</div>

@*<div class="row alert alert-info">
    Users
    <div class="col-3">
        <select class="form-select" @onchange="GetRole" size="@(ListUsers.Count+1)">
            <option></option>
            @foreach (var user in ListUsers)
            {
                <option value="@user.UserName">@user.UserName</option>
            }
        </select>
    </div>
    Roles
    <div class="col-3">
        <select class="form-select" multiple size="@(ListRoles.Count)" @bind="ListToSave">
            @foreach (var role in ListRoles)
            {
                @if (ListRolesOfUser is not null && ListRolesOfUser.Contains(role.Name))
                {
                    <option value="@role.Name" selected="selected">@role.Name</option>
                }
                else
                {
                    <option value="@role.Name">@role.Name</option>
                }
            }
        </select>
    </div>
    Valider les rôles à l'utilisateur
    <div class="col-1">
        <button class="btn btn-danger" @onclick="Valider">Valider</button>
    </div>
</div>*@