@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components
@inject UserManager<IdentityUser> UserManager


<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <label for="user">User</label>
            <select id="user" class="form-select" size="@(ListUsers.Count + 1)" @onchange="GetUser">
                <option></option>
                @foreach (var user in ListUsers)
                {
                    <option value="@user.Email">@user.Email</option>
                }
            </select>
        </div>
    </div>
</div>

@if (User is not null)
{
    @foreach (var prop in User.GetType().GetProperties())
    {
        <div class="row">
            <div class="col-2">@prop.Name</div>
            <div class="col">@prop.GetValue(User)</div>
            <div class="col-3">@prop.PropertyType</div>
        </div>
    }
}
